#container {
    margin: 10px auto;
    width: 400px;
}
#container .board{
    width: 100%;
}
#container .board .commentContainer{
    display: block;
}
.commentText{
    display: inline-block;
}
.commentContainer button{
    float: right;
}
.clearfix{
    display: block;
    content: "";
    clear: both;
}